<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Footballnavi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">投稿一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ユーザー一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ゲストさん<i class="far fa-user-circle"></i></a>
            <ul class="dropdown-menu">   
              <li><a class="dropdown-item" href="#">設定</a></li>
              <li><a class="dropdown-item" href="index.html">ログアウト</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="bg-primary py-5 my-5">
  <div class="container">
    <div class="row text-center">
      <div>
        <%= image_tag 'pyoko6_soccer.png', class: 'img-fluid', alt: 'サッカー画像', size: '300x350' %>
        <h1 class="py-3">footballnavi</h1>
        <i class="fas fa-user-circle"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-edit"></i>
        <i class="far fa-edit"></i>
        <i class="fas fa-futbol"></i>
        <i class="far fa-futbol"></i>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="h5 py-2">メインコンテンツ -新着順-</p>
    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">東京フットサルコート</span><br>東京</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">大阪フットサルコート</span><br>大阪</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">京都フットサルコート</span><br>京都</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">札幌フットサルコート</span><br>札幌</p>
        </div>
      </div>
      <div class="text-end py-5">
        <p>もっと見る</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p class="h5 py-2">メインコンテンツ -人気順-</p>
    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">東京フットサルコート</span><br>東京</p>
        </div>
      </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">大阪フットサルコート</span><br>大阪</p>
          </div>
        </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">札幌フットサルコート</span><br>札幌</p>
          </div>
        </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">京都フットサルコート</span><br>京都</p>
          </div>
        </div>
        <div class="text-end py-5">
          <p>もっと見る</p>
        </div>
    </div>
  </div>
</section>
