<%if flash.notice%>
  <p class="notice text-center"><%= notice %></p>
<%end%>

<section class="bg-primary py-5 mb-5">
  <div class="container">
    <div class="row text-center">
      <div>
        <%= image_tag 'pyoko6_soccer.png', class: 'img-fluid', alt: 'サッカー画像', size: '300x350' %>
        <h1 class="py-3">footballnavi</h1>
        <i class="fas fa-user-circle"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-edit"></i>
        <i class="far fa-edit"></i>
        <i class="fas fa-futbol"></i>
        <i class="far fa-futbol"></i>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="h5 py-2">メインコンテンツ -新着順-</p>
    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">東京フットサルコート</span><br>東京</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">大阪フットサルコート</span><br>大阪</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">京都フットサルコート</span><br>京都</p>
        </div>
      </div>
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">札幌フットサルコート</span><br>札幌</p>
        </div>
      </div>
      <div class="text-end py-5">
        <p>もっと見る</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p class="h5 py-2">メインコンテンツ -人気順-</p>
    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
        <div class="card-body">
          <p class="card-text"><span class="lead">東京フットサルコート</span><br>東京</p>
        </div>
      </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">大阪フットサルコート</span><br>大阪</p>
          </div>
        </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">札幌フットサルコート</span><br>札幌</p>
          </div>
        </div>
        <div class="card col-lg-3">
          <%= image_tag 'soccer_field.png', class: 'card-img-top', alt: 'サッカー画像' %>
          <div class="card-body">
            <p class="card-text"><span class="lead">京都フットサルコート</span><br>京都</p>
          </div>
        </div>
        <div class="text-end py-5">
          <p>もっと見る</p>
        </div>
    </div>
  </div>
</section>
