<h1 class="text-center py-5">フットサルコート一覧</h1>
<div class="container">
  <div class="row">
    <% @fields.each do |field| %>
      <div class="col-lg-3">
        <%= link_to field_path(field.id), class: "text-decoration-none link-dark" do %>
        <div class="card">
          <% if field.image.attached? %>
            <%= image_tag field.image, class: "field_image_size" %>
          <% else %>
            <%= image_tag "soccer_field.png", class: "field_image_size" %>
          <% end %>
          <div class="card-body overflow-auto">
            <h5 class="card-title"><%= field.name %></h5>
            <p class="card-text"><%= field.introduce %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
